* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.frames {
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

iframe {
  margin: 1%;
  border-collapse: collapse;
}

img {
  width: 20%;
  padding: auto;
}

.right-col {
  height: 100vh;
  background-color: #c37b89;
  color: #eae7c6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-col h1 {
  border: 2px solid;
  padding: 2% 10%;
  text-align: center;
  border-radius: 1rem;
  font-size: 4rem;
  font-family: "Lobster", cursive;
}

.left {
  background-color: #d1e8e4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.links a {
  background-color: #c37b89;
  width: 90px;
  margin-left: 2%;
  text-align: center;
  padding: 2%;
  text-decoration: none !important;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

a:hover {
  background-color: rgb(240, 183, 173);
}

.mystyle {
  color: black !important;
  background-color: #eae7c6 !important;
}
footer {
  font-size: 25px;
  color: #6f7880;
  text-align: center;
  font-weight: bold;
}

.material-icons{
  color: #c37b89;
  font-size: 25px !important;
}
@media screen and (max-width: 480px) {
  .left {
    display: flex;
    align-items: center;
  }
  .links {
    display: grid;
    display: grid;
    gap: 2rem;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .links a {
    margin-top: 2%;
  }

  .frames {
    flex-direction: column;
  }
}
